## 공공데이터로 csv 파일 처리하기

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [1]:
from matplotlib import font_manager, rc
import sys

if sys.platform == 'darwin' :
    rc('font', family='AppleGothic')

    plt.rcParams['axes.unicode_minus'] = False
else :
    
    font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
    rc('font', family=font_name)

In [3]:
df = pd.read_csv(r"D:\data/NHIS_OPEN_GJ_2014.csv",index_col=['가입자일련번호'], encoding='cp949')

In [4]:
df.head()

,기준년도,성별코드,연령대코드(5세단위),시도코드,신장(5Cm단위),체중(5Kg 단위),허리둘레,시력(좌),시력(우),청력(좌),...,혈청크레아티닌,(혈청지오티)AST,(혈청지오티)ALT,감마지티피,흡연상태,음주여부,구강검진 수검여부,치아우식증유무,치석유무,데이터 기준일자
가입자일련번호,,,,,,,,,,,,,,,,,,,,,
1,2014,1,6,42,180,75,79,1.5,1.2,1.0,...,1.2,31,18,23,3.0,0.0,1,0.0,0.0,20161220
2,2014,2,18,41,150,65,79,0.1,0.1,1.0,...,0.8,11,4,15,1.0,1.0,0,NaN,NaN,20161220
3,2014,1,12,41,170,70,95,0.8,1.0,1.0,...,0.6,138,73,112,3.0,1.0,1,0.0,1.0,20161220
4,2014,2,11,41,165,80,104,0.8,0.2,1.0,...,0.9,19,14,21,1.0,0.0,1,0.0,1.0,20161220
5,2014,1,6,44,175,75,81,1.5,1.5,1.0,...,1.0,32,39,98,1.0,1.0,1,NaN,1.0,20161220

In [5]:
df_m1 = df.loc[df["시도코드"] == 41]

In [6]:
df_m1.shape

(232549, 30)

In [7]:
df_m1.to_csv("./data/NHIS_OPEN_GJ_2014.m1.csv")

In [8]:
df = df_m1

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 232549 entries, 2 to 999993
Data columns (total 30 columns):
기준년도           232549 non-null int64
성별코드           232549 non-null int64
연령대코드(5세단위)    232549 non-null int64
시도코드           232549 non-null int64
신장(5Cm단위)      232549 non-null int64
체중(5Kg 단위)     232549 non-null int64
허리둘레           232549 non-null int64
시력(좌)          232502 non-null float64
시력(우)          232502 non-null float64
청력(좌)          232509 non-null float64
청력(우)          232512 non-null float64
수축기혈압          232549 non-null int64
이완기혈압          232549 non-null int64
식전혈당(공복혈당)     232549 non-null int64
총콜레스테롤         232549 non-null int64
트리글리세라이드       232549 non-null int64
HDL콜레스테롤       232549 non-null int64
LDL콜레스테롤       231631 non-null float64
혈색소            232549 non-null float64
요단백            231659 non-null float64
혈청크레아티닌        232549 non-null float64
(혈청지오티)AST     232549 non-null int64
(혈청지오티)ALT     232549 non-null int64
감마지티피          232549 non-null int64
흡연상태           232327 non-null float64
음주여부           232183 non-null float64
구강검진 수검여부      232549 non-null int64
치아우식증유무        28460 non-null float64
치석유무           91057 non-null float64
데이터 기준일자       232549 non-null int64
dtypes: float64(12), int64(18)
memory usage: 55.0 MB

In [10]:
for i in  df.columns :
    if df[i].dtype == np.int64 :
        df[i] = df[i].astype(np.int16)
    if df[i].dtype == np.float64 :
        df[i] = df[i].astype(np.float32)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 232549 entries, 2 to 999993
Data columns (total 30 columns):
기준년도           232549 non-null int16
성별코드           232549 non-null int16
연령대코드(5세단위)    232549 non-null int16
시도코드           232549 non-null int16
신장(5Cm단위)      232549 non-null int16
체중(5Kg 단위)     232549 non-null int16
허리둘레           232549 non-null int16
시력(좌)          232502 non-null float32
시력(우)          232502 non-null float32
청력(좌)          232509 non-null float32
청력(우)          232512 non-null float32
수축기혈압          232549 non-null int16
이완기혈압          232549 non-null int16
식전혈당(공복혈당)     232549 non-null int16
총콜레스테롤         232549 non-null int16
트리글리세라이드       232549 non-null int16
HDL콜레스테롤       232549 non-null int16
LDL콜레스테롤       231631 non-null float32
혈색소            232549 non-null float32
요단백            231659 non-null float32
혈청크레아티닌        232549 non-null float32
(혈청지오티)AST     232549 non-null int16
(혈청지오티)ALT     232549 non-null int16
감마지티피          232549 non-null int16
흡연상태           232327 non-null float32
음주여부           232183 non-null float32
구강검진 수검여부      232549 non-null int16
치아우식증유무        28460 non-null float32
치석유무           91057 non-null float32
데이터 기준일자       232549 non-null int16
dtypes: float32(12), int16(18)
memory usage: 20.4 MB

In [12]:
df.head()

,기준년도,성별코드,연령대코드(5세단위),시도코드,신장(5Cm단위),체중(5Kg 단위),허리둘레,시력(좌),시력(우),청력(좌),...,혈청크레아티닌,(혈청지오티)AST,(혈청지오티)ALT,감마지티피,흡연상태,음주여부,구강검진 수검여부,치아우식증유무,치석유무,데이터 기준일자
가입자일련번호,,,,,,,,,,,,,,,,,,,,,
2,2014,2,18,41,150,65,79,0.1,0.1,1.0,...,0.8,11,4,15,1.0,1.0,0,NaN,NaN,-23868
3,2014,1,12,41,170,70,95,0.8,1.0,1.0,...,0.6,138,73,112,3.0,1.0,1,0.0,1.0,-23868
4,2014,2,11,41,165,80,104,0.8,0.2,1.0,...,0.9,19,14,21,1.0,0.0,1,0.0,1.0,-23868
8,2014,2,11,41,145,55,93,0.9,0.9,2.0,...,1.2,34,16,175,1.0,1.0,0,NaN,NaN,-23868
9,2014,2,18,41,140,35,78,0.2,0.1,1.0,...,0.5,30,10,10,1.0,1.0,0,NaN,NaN,-23868

In [13]:
df.shape

(232549, 30)

In [14]:
d1 = df.isna()

In [15]:
d1.sum().sum()

348148

In [16]:
df = df.fillna(0)

In [17]:
d = df.isna()

In [18]:
d.sum().sum()

0

In [19]:
d_ = df [['성별코드','신장(5Cm단위)','연령대코드(5세단위)']].copy()

In [20]:
d_.shape

(232549, 3)

In [21]:
d_["count"]  = 1

In [22]:
d_x = pd.pivot_table(d_, values='count', index=['신장(5Cm단위)'],columns=['성별코드','연령대코드(5세단위)']
                    , aggfunc=np.sum).fillna(0)

In [23]:
d_x[1]

연령대코드(5세단위),5,6,7,8,9,10,11,12,13,14,15,16,17,18
신장(5Cm단위),,,,,,,,,,,,,,
130,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
135,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
140,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
145,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,1.0,1.0,1.0,0.0,0.0,0.0
150,0.0,0.0,2.0,6.0,9.0,8.0,15.0,12.0,18.0,15.0,24.0,15.0,15.0,6.0
155,7.0,22.0,23.0,18.0,52.0,72.0,107.0,107.0,176.0,156.0,173.0,108.0,63.0,30.0
160,58.0,158.0,194.0,235.0,353.0,508.0,881.0,885.0,958.0,693.0,737.0,389.0,181.0,56.0
165,224.0,652.0,968.0,1185.0,1949.0,2247.0,3161.0,2802.0,2402.0,1595.0,1419.0,613.0,325.0,58.0
170,591.0,1835.0,3076.0,3469.0,5359.0,4702.0,5594.0,4082.0,2914.0,1636.0,1379.0,490.0,244.0,45.0
175,824.0,2968.0,5079.0,5352.0,6931.0,4937.0,4664.0,2769.0,1595.0,851.0,633.0,203.0,65.0,17.0
180,666.0,2584.0,4381.0,3839.0,4334.0,2363.0,1790.0,916.0,431.0,172.0,117.0,39.0,14.0,0.0
185,247.0,1063.0,1815.0,1373.0,1229.0,555.0,357.0,146.0,54.0,25.0,11.0,0.0,1.0,0.0
190,50.0,242.0,377.0,269.0,179.0,66.0,44.0,9.0,2.0,1.0,0.0,0.0,0.0,0.0
195,0.0,19.0,43.0,22.0,26.0,4.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
d_x[1].sum()

연령대코드(5세단위)
5      2667.0
6      9543.0
7     15958.0
8     15768.0
9     20421.0
10    15462.0
11    16617.0
12    11731.0
13     8552.0
14     5145.0
15     4494.0
16     1857.0
17      908.0
18      212.0
dtype: float64

In [25]:
for i in d_x[1].index :
    print(i, d_x[1].loc[i].sum())

130 0.0
135 0.0
140 4.0
145 6.0
150 145.0
155 1114.0
160 6286.0
165 19600.0
170 35416.0
175 36888.0
180 21646.0
185 6876.0
190 1239.0
195 115.0

In [26]:
d_x[2]

연령대코드(5세단위),5,6,7,8,9,10,11,12,13,14,15,16,17,18
신장(5Cm단위),,,,,,,,,,,,,,
130,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0
135,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,4.0,3.0,10.0,14.0,12.0,16.0
140,0.0,0.0,1.0,4.0,5.0,11.0,19.0,24.0,40.0,32.0,72.0,88.0,88.0,49.0
145,3.0,8.0,11.0,18.0,57.0,100.0,194.0,235.0,360.0,264.0,458.0,348.0,285.0,90.0
150,52.0,125.0,146.0,197.0,685.0,885.0,1502.0,1382.0,1691.0,1171.0,1435.0,721.0,425.0,127.0
155,344.0,662.0,886.0,984.0,3035.0,3301.0,4876.0,3502.0,3300.0,1922.0,1789.0,625.0,298.0,71.0
160,1022.0,2061.0,2250.0,2245.0,6096.0,5055.0,5724.0,3475.0,2660.0,1315.0,962.0,263.0,111.0,24.0
165,1167.0,2443.0,2518.0,2119.0,4808.0,2980.0,2884.0,1398.0,871.0,344.0,243.0,44.0,25.0,0.0
170,617.0,1379.0,1275.0,933.0,1667.0,727.0,604.0,237.0,149.0,39.0,15.0,3.0,0.0,0.0
175,140.0,317.0,282.0,159.0,262.0,77.0,42.0,14.0,7.0,1.0,0.0,0.0,0.0,0.0
180,9.0,15.0,26.0,16.0,21.0,6.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
185,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
190,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
195,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [27]:
d_x[2].sum()

연령대코드(5세단위)
5      3354.0
6      7010.0
7      7395.0
8      6675.0
9     16637.0
10    13142.0
11    15847.0
12    10267.0
13     9082.0
14     5091.0
15     4984.0
16     2106.0
17     1246.0
18      378.0
dtype: float64

In [28]:
for i in d_x[2].index :
    print(i, d_x[2].loc[i].sum())

130 3.0
135 61.0
140 433.0
145 2431.0
150 10544.0
155 25595.0
160 33263.0
165 21844.0
170 7645.0
175 1301.0
180 94.0
185 0.0
190 0.0
195 0.0

In [29]:
(d_x[1] + d_x[2]).sum().sum()

232549.0

In [30]:
d_x[1].max()

연령대코드(5세단위)
5      824.0
6     2968.0
7     5079.0
8     5352.0
9     6931.0
10    4937.0
11    5594.0
12    4082.0
13    2914.0
14    1636.0
15    1419.0
16     613.0
17     325.0
18      58.0
dtype: float64

In [31]:
d_x[1].idxmax()

연령대코드(5세단위)
5     175
6     175
7     175
8     175
9     175
10    175
11    170
12    170
13    170
14    170
15    165
16    165
17    165
18    165
dtype: int64